<div class="grid-container">
    <h1 class="mat-h1">Building View</h1>

    <button mat-fab color="primary" class="btn-fixed-br" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>

    <mat-card *ngFor="let building of buildings">
        <div>
            <p>Id: {{ building.id }}</p>
            <p>Name: {{ building.name }}</p>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title> levels: </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let level of building.levels">
                    <p>id: {{ level.id }}</p>
                    <p>name: {{ level.name }}</p>
                </div>
            </mat-expansion-panel>
        </div>
        <button
            mat-mini-fab
            color="primary"
            class="btn-inline"
            (click)="openEditDialog(building.id)"
        >
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card>
</div>
