.grid-container {
    margin: 20px;
}

.btn-fixed-br {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.btn-inline {
    margin-left: 30px;
}

mat-card {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
